aiofiles
aiohttp_socks
requests[socks]
aiosignal
anyio
APScheduler
asks
async-generator
async-timeout
attrs
beautifulsoup4
Brotli
bs4
certifi
cffi
charset-normalizer
click
colorama
cryptg
exceptiongroup
frozenlist
googledrivedownloader
h11
idna
inflate64
lxml
mega
mega.py
multidict
multivolumefile
mutagen
outcome
pathlib
ping3
prettytable
psutil
py7zr
pyaes
pyasn1
pybcj
pycparser
pycryptodome
pycryptodomex
pyping
pyppmd
Pyrogram
PySocks
python-socks
python-telegram-bot
pytz
pytz-deprecation-shim
pyzstd
requests
rsa
six
sniffio
sortedcontainers
soupsieve
tcping
telebot
Telethon
tenacity
texttable
TgCrypto
tornado
trio
tzdata
tzlocal
ujson
urllib3
user-agent
wcwidth
websockets
yarl
youtube-dl
yt-dlp
Flask
gunicorn
